{% extends "base.html" %}
{% block content %}
<h1>Details for "{{ habit.name }}"</h1>

<div class="habit-info">
    <p><strong>Periodicity:</strong> {{ habit.periodicity }}</p>
    <p><strong>Created on:</strong> {{ habit.created_at }}</p>
    <p><strong>Next due date:</strong> {{ habit.due_date or '–' }}</p>
</div>

<hr>

<h3>Planned Days</h3>
<input type="text" id="habit_calendar" readonly>

<script>
const selectedDates = JSON.parse('{{ selected_dates | tojson | safe }}');

flatpickr("#habit_calendar", {
    mode: "multiple",
    dateFormat: "Y-m-d",
    defaultDate: selectedDates,
    locale: "en",
    clickOpens: false,
    disableMobile: true
});

</script>

<hr>

<h3>Completions</h3>
{% if completions %}
    <ul>
    {% for c in completions %}
        <li>{{ c }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No completions yet.</p>
{% endif %}

<form action="{{ url_for('delete_habit_route', habit_id=habit.id) }}" onsubmit="return confirm('Do you really want to delete this habit?');">
    <button type="submit" class="btn btn-danger">Delete Habit</button>
</form>
<form action="{{ url_for('edit_habit', habit_id=habit.id) }}">
    <button type="submit" class="btn btn-danger">Edit Habit</button>
</form>


{% endblock %}
